<div class="container-fluid hero">
  <div class="row bg">
    <div class="col-12"></div>
    <div class="col-4"></div>
    <div class="col-6"></div>
  </div>
  <div>
    <div class="row margin">
      <h1>Our Top Topics</h1>
      <div class="col-4" *ngFor="let user of courseList; let i = index">
        <div class="card rounded-3">
          <!-- <img src="..." class="card-img-top" alt="..." /> -->
          <div class="card-body">
            <h5 class="card-title">{{ user.title }}</h5>
            <p class="card-text">
              {{ user.body }}
            </p>
          </div>
          <button class="delete">❌ </button>
        </div>
      </div>
    </div>
    <div class="add-topic">
      <button
        class="btn btn-danger"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        Go somewhere
      </button>
    </div>

    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-" id="staticBackdropLabel">
              Add New Topic
            </h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Title</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                [(ngModel)]="courseObj.title"
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Description</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                [(ngModel)]="courseObj.body"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary" (click)="onSubmit()">
              Understood
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
